{% extends 'index.html' %}

{% block content %}

    <h1 class="display-4 text-center my-5">{{user_profile.user.username}}'s Profile</h1>

    <div class="container text-center">

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="#" type="button" class="btn-outline-light">Edit</a>
            <a href="#" type="button" class="btn btn-outline-danger">Delete</a>
        </div>

        <div class="container text-center my-4">
            <div class="row row-cols-sm-1 row-cols-md-2">
                <div class="col-12">
                    <img src="user.svg" alt="user-profile" class="rounded-circle" width="140" height="140">
                    <h2 class="fs-3">@{{user_profile.user.username}}</h2>
                </div>
                <div class="col-12">
                    <p class="fs-5"><i class="bi bi-gender-ambiguous"></i> {{user_profile.gender|default:'N/A'}}</p>
                    <p class="fs-5"><i class="bi bi-envelope-at"></i> <a href="mailto:{{user_profile.user.email}}"> {{user_profile.user.email|default:'N/A'}}</a></p>
                </div>
            </div>
        </div>

        <hr class="my-5">

        <div class="container">
            <div class="row row-cols-sm-1 row-cols-md-1 row-cols-lg-1">
                <div class="col-12">
                    <h3>Quizzes Done By @{{user_profile.user.username}}</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Quiz</th>
                                <th scope="col">Score</th>
                                <th scope="col">Time</th>
                                <th scope="col">Details</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}