{% extends 'index.html' %}

{% block title %}Quizzes List{% endblock title %}

{% block content %}
<h1 class="display-4 text-center my-5">Quizzes List</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for quiz in quizzes %}
                        <tr>
                            <td>{{ quiz.title }}</td>
                            <td>{{ quiz.category.name }}</td>
                            <td>{{ quiz.created_at|date:"F d, Y" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">No quizzes available.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}