{% extends 'index.html' %}

{% block title %}Register | Quizora{% endblock title %}

{% block content %}

<div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card shadow-sm p-5" style="max-width: 400px; width: 100%;">
        <h1 class="text-center mb-4 fw-bold">Sign Up</h1>

        <!-- Displaying Messages -->
        {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <!-- Sing Up Form -->
        <form method="POST" action="">
            {% csrf_token %}
            
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Username" required>
                <label for="usernameInput">Username</label>
            </div>
            
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="emailInput" placeholder="Email" required>
                <label for="emailInput">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Password" required>
                <label for="passwordInput">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="confirm_password" class="form-control" id="confirmPasswordInput" placeholder="Repeat Password" required>
                <label for="confirmPasswordInput">Confirm Password</label>
            </div>

            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="termsCheckbox" name="terms" required>
              <label class="form-check-label" for="termsCheckbox">
                  I agree to the <a href="#" class="text-decoration-none">Terms and Conditions</a>
              </label>
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2">Register</button>

            <p class="text-center my-4">Already a member? 
                <a href="{% url 'login' %}" class="fw-bold text-decoration-none">Login</a>
            </p>
        </form>
    </div>
</div>

{% endblock content %}
