{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Terms and Conditions</h1>
    <p>Last updated: <strong>October 16, 2024</strong></p>

    <h3>1. Introduction</h3>
    <p>Welcome to Quizora. By accessing, browsing, or participating in quizzes on this App, you agree to abide by these Terms and Conditions. If you do not agree, please discontinue use immediately.</p>

    <h3>2. User Accounts</h3>
    <p>You are required to create an account to participate in quizzes. You are responsible for maintaining the security of your credentials. Any activities under your account are your responsibility.</p>

    <h3>3. Participation in Quizzes</h3>
    <ul>
        <li>Each quiz may have time limits, scoring rules, and eligibility criteria which will be displayed prior to participation.</li>
        <li>By submitting your answers, you agree that the results and scoring are final.</li>
        <li>Attempting to manipulate the results or scores is strictly prohibited.</li>
    </ul>

    <h3>4. Leaderboard and Scores</h3>
    <p>Your participation and performance may be reflected on the leaderboard. We reserve the right to adjust or remove scores if cheating or manipulation is detected.</p>

    <h3>5. Content Ownership</h3>
    <p>The questions, quizzes, and other content available on the Quizora App are owned or licensed by Quizora. Users are prohibited from copying, distributing, or using the content for any purpose outside Quizora App without permission.</p>

    <h3>6. Submission of Content</h3>
    <p>If users submit quiz questions, feedback, or any content to Quizora , they grant us a royalty-free, non-exclusive license to use, modify, and display that content within the Quizora Application.</p>

    <h3>7. Termination of Access</h3>
    <p>If you violate these Terms, your access to the Quizora App and any associated accounts may be terminated without notice. Scores and leaderboard positions may also be revoked.</p>

    <h3>8. Limitation of Liability</h3>
    <p>The Quizora App is provided “as-is.” We make no guarantees about the accuracy of quizzes, scores, or the uninterrupted availability of the service. To the fullest extent permitted by law, we are not responsible for any direct or indirect damages resulting from your use of the App.</p>

    <h3>9. Changes to Terms and Conditions</h3>
    <p>We may revise these Terms from time to time. Continued use of the App after such changes are posted will indicate your acceptance of the new Terms.</p>

    <h3>10. Governing Law</h3>
    <p>These Terms will be governed and construed in accordance with the laws of Your Country/State. Any disputes will be resolved exclusively in the courts of Jurisdiction.</p>


</div>
{% endblock %}
